@charset "ISO-8859-1";
.loader {
  display:none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

h1 {
 	font-family: Verdana;
 	text-align: center;
}

p {
 	font-family: Verdana;
 	text-align: center;
}

a{
	font-family: Verdana;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: helvetica;
	text-transform: uppercase;
	background-color: red;
	padding: 0.7em 0.5em;
  	text-decoration: none;
}
a:hover {
	background-color: grey;
	color: white;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
